body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2b2b2b;
}

fieldset {
    width: auto;
    margin-left: 25%;
    margin-right: 25%;
}

legend {
    color: #dfdfdf;
    font-size: 2em;
    font-weight: 700;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#toggle-group button {
    color: #dfdfdf;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 90%;
    margin: 10px auto;
    display: block;
    cursor: pointer;
}

#toggle-group button[value="false"] {
    background-color: #ff002f93;
}

#toggle-group button[value="true"] {
    background-color: #3bdd0080;
}